/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 

 #personal-details,
 #newspaper-notice,
 #funeral-location,
 #funeral-streaming{
   display: none;
 }
 
 .cropFeaturedImageWrap {
   padding-left: 0px !important;
   margin-top: 10px !important;
 }